# API
NEXT_PUBLIC_API_URL=http://localhost:4000

# Auth
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_APPLE_CLIENT_ID=

# LiveKit
NEXT_PUBLIC_LIVEKIT_URL=

# Stripe
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

# Analytics
NEXT_PUBLIC_AMPLITUDE_API_KEY=
NEXT_PUBLIC_SENTRY_DSN=

# Feature Flags
NEXT_PUBLIC_STATSIG_CLIENT_SDK_KEY=
